.block-title {
  margin: 0;
  position: absolute;
  text-align: center; 
  width: 450px;
  left: 35%;
  top: 50%;
  font-family: 'Montserrat';
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  line-height: 110px;
}
