.banner__table {
  width: 100%;
  padding: 0;
  list-style: none;
  /* display: flex;  
  flex-direction: row;
  flex-wrap: wrap; */
  
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4), auto;
   
}