

body {
  margin: 0;
}



/* HEADER */







/* NAV */









/* PROJECT */

               /*.banner */

.banner {
  width: 100%;
  margin: 100px auto;
}









/* SERVICES */
.banner__table_flex_mod {
  max-width: 900px;
  width: 100%;
  margin: auto;
} 

.banner__cell_change_color {
  background-color: #e5807e;
  box-shadow: 5px 3px #9bd6ce;
}

.banner__cell_change_size {
  width: 280px;
  height: 160px;
}

.cell__header {
  font-size: 18px;
  color: #333;
  text-transform: uppercase;
}

.cell_paragraph {
  font-size: 10px;
  color: gray;
}
